body {
    display: flex;
    flex-flow: column;
}


header {
    background-color: #68afe7;
    color: var(--color-darkest);
}

.emblem {
    width: 150px;
    height: 150px;
}

.column {
    margin-left: 1rem;
    display: flex;
    flex-flow: column;
}

main {
    flex-grow: 1;
    margin-top: 0.5rem;
    padding-bottom: 3rem;
}

.source-code {
    font-size: 75%;
    color: var(--color-grayDarker);
}

footer {
    background-color: #7f931a;
    color: var(--color-darkest);
}

.logo {
    font-weight: bold;
    margin-bottom: 0.7rem;
}

.credits {
    font-size: 0.75rem;
}

/* inhabitant cards */
.inhabitants {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.inhabitant__card {
    margin: 8px;
    padding: 12px;

    min-width: 200px;

    border: 2px solid black;
}

.material-symbols-outlined {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    font-size: 52px;
}

.inhabitant__text {
    display: block;

    font-size: 14px;
    font-weight: 600;

    text-transform: uppercase;
}

.normal {
    font-weight: 400;
}